{% extends "main/main.html" %}

{% block title %}<title>Корзина</title>{% endblock %}

{% block content %}
<h1>{{sms}}</h1>
{% for product in products %}
<div class="card">
  <div class="card-body">
  	<img src="">
    <h4>{{product.name}} стоимость {{product.price}} </h4>
    <h5></h5>
  </div>
</div>
<h1>Заказ</h1>
{% endfor %}
<br/>
<form method="POST" action="/order_user_data/">
		{% csrf_token %}	
		<input type="text" value="" name="city">         <h3>Город </h3>
    <input type="text" value="" name="street">       <h3>Улица </h3>
    <input type="text" value="" name="home">         <h3>Дом </h3>
    <h3>сумма заказа {{price}} <input type="submit" name="" value="оформить заказ"  class="btn btn-outline-primary"/> </h3>
</form>


{% for products_order in product_order %}
<div class="card">
  <div class="card-body">
    <img src="">
    <h4>{{products_order}} стоимость {{products_order.price}} njdfh </h4>
    <h5></h5>
  </div>
</div>

{% endfor %}

{% endblock %}
